<div class="form-group" [formGroup]="productForm" *ngIf="crud_operation.is_visible">
    <label>Nombre</label>
    <input type="text" class="form-control" [(ngModel)] = "tr_nombre" formControlName="nombre">
    <label>Código</label>
    <input type="number" class="form-control" [(ngModel)] = "tr_codigo" formControlName="codigo">
    <label>Descripción</label>
    <input type="text" class="form-control" formControlName="descripcion">
    <label>Precio (COP)</label>
    <input type="number" class="form-control" formControlName="precio">
    <label>Impuesto</label>
    <input type="number" class="form-control" formControlName="impuesto">
    <label>Stock</label>
    <input type="number" class="form-control" [(ngModel)] = "tr_stock" formControlName="stock">
    <button class="btn btn-primary" (click)="save()">Salvar</button>
    <button class="btn btn-danger" (click)="crud_operation.is_visible = false">Cancelar</button>
</div>

<div class="panel-body">
    <table class="table table-striped table-over">
        <tr>
            <th>NOMBRE</th>
            <th>CÓDIGO</th>
            <th>DESCRIPCIÓN</th>
            <th>PRECIO</th>
            <th>IMPUESTO</th>
            <th>STOCK</th>
            <th>CANTIDAD AL CARRITO</th>
            <th class="text-right">
                <button class="btn btn-success" (click)="new()">Nuevo</button>
            </th>
        </tr>
        <tr *ngFor="let row of collection.data; let index = index; trackBy:trackByIndex;">
            <td>{{ row.nombre }}</td>
            <td>{{ row.codigo }}</td>
            <td>{{ row.descripcion }}</td>
            <td>{{ row.precio }}</td>
            <td>{{ row.impuesto }}</td>
            <td>{{ row.stock }}</td>
            <th>
                <form [formGroup]="productCartForm" (ngSubmit)="saveProductoCart(row.id, row.nombre, row.descripcion, row.codigo, row.precio, row.impuesto, row.stock)">
                    <input type="number" class="form-control" required formControlName="quantity" [(ngModel)]="collection[index]">
                    <button *ngIf="collection[index] <= row.stock && collection[index] > 0" class="btn btn-primary btn btn-block" type="submit">Agregar al carrito</button>
                    <div class="alert alert-danger" *ngIf="collection[index] > row.stock" role="alert">¡Sobrepasa el stock!</div>
                </form>
            </th>
        </tr>
    </table>
</div>